<ul>
	<li><a href="/home/index">Inicio</a></li>
	<li><a href="/home/contacto">Contacto</a></li>
	<li><a href="/home/quienes_somos">Acerca de nosotros</a></li>
</ul>
<h1>Home#quienes_somos</h1>
<p>Somos unos jovenes bl bla bla ...</p>
